<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>312103236192-dhcnejokntd9jebfutk4u5kapi4ml66v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.312103236192-dhcnejokntd9jebfutk4u5kapi4ml66v</string>
	<key>API_KEY</key>
	<string>AIzaSyCm_4r57siOF-v-5BgYpm15_FiG81wBpiY</string>
	<key>GCM_SENDER_ID</key>
	<string>312103236192</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebase</string>
	<key>PROJECT_ID</key>
	<string>myproject-40246</string>
	<key>STORAGE_BUCKET</key>
	<string>myproject-40246.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:312103236192:ios:6f0c070e533f6f05eb0905</string>
</dict>
</plist>